.header {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image: url();
background-color: blueviolet;
overflow: hidden;
position: relative;
}
.banner
   text-align: center;
   color 